*{
    margin:0;
    padding:0;
}
#logo{
    height:60px;
    width: 60px;
}
header{
    background: url('../img/index4.jpg');
	background-repeat: no-repeat;
    height: 450px;
    width: 100%;     
    color: white;
}
#titulo{
    font-family: 'italic';
    font-weight: normal;
}
.carta, p{
    font-family: 'italic';
    font-size: 20px;
}
#hogar{
    height: 200px;
    width: 286px; 
}
table tr th h5{
    font-family: 'italic';
    font-size: 40px;
    color: white;
}
table tr th p{
    font-family: 'italic';
    font-size: 20px;
    color: white;
}

#ropa{
    height: 320px;
    width: 286px; 
}
footer{
    float: left;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 150%;
    box-sizing: border-box;
    background-color: #adadad;


    padding-top: 10px;
}
