*{
    margin:0;
    padding:0;
}
.contenedor{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    overflow: hidden;
}
#logo{
    height:60px;
    width: 60px;
}
header{
    background: url('../img/index4.jpg');
	background-repeat: no-repeat;
    height: auto;
    width: 100%;     
    color: white;
}
#titulo{
    margin: 20px;
    font-family: 'italic';
    font-weight: normal;
}
.cartas p{
    font-family: 'italic';
    font-size: 20px;
}
/*productos hogar*/
#hogar{
    height: 200px;
    width: 286px; 
}
/*carrusel*/
table tr th h5{
    font-family: 'italic';
    font-size: 40px;
    color: white;
}
table tr th p{
    font-family: 'italic';
    font-size: 20px;
    color: white;
}
/*productos de ropa*/
#ropa{
    height: 320px;
    width: 286px; 
}
/*pie de pagina*/
footer{
    float: left;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 150%;
    box-sizing: border-box;
    background-color: #adadad;
    padding-top: 10px;
}
